# venv was created to run the python app locally
venv/*
__pycache__/*
*.pyc

# Terraform variable values and provider binary downloaded after 'terraform init'
*.tfvars
.terraform*

# Terraform detailed execution plan binary after running 'terraform plan'
*.tfplan

# Terraform tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.*

# json files contain credentials for service account on gcp or service principal on azure
*.json
